/* playground */

.wraper {
    /* display: flex; */
border:3px solid black;
}
.boxes{
    background-color: grey;
    justify-items: end;
}


.box{
    width:5rem;
    height:5rem;

}

.box1{
    background-color: red;
    
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue;
}


/* grid */

.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}
