@mixin flexed($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin container($max-width: 1280px) {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}
