@use "./partials/variables";
@use "./partials/mixins";

/* destination background */

.destination__background {
  @include mixins.container();
  background-position: center right;
  background-size: cover;
  width: 100%;
}

.destination__background--hawaii {
  background-image: url(../assets/images/Images/hawaii.jpg);
  height: 1500px;
  @include mq(medium) {
    height: 1100px;
  }
  @include mq(large) {
    height: 650px;
  }
}

.destination__background--iceland {
  background-image: url(../assets/images/Images/iceland.jpg);
  height: 1500px;
  @include mq(medium) {
    height: 1100px;
  }
  @include mq(large) {
    height: 650px;
  }
}

.destination__background--greece {
  background-image: url(../assets/images/Images/greece.jpg);
  height: 1500px;
  @include mq(medium) {
    height: 1100px;
  }
  @include mq(large) {
    height: 650px;
  }
}

.destination__title {
  font-size: 7rem;
  color: #fff;
  font-weight: 600;
  padding: 4rem;
}

/* destination itinerary cards */

.destination-card-group {
  max-width: 900px;
  margin: 0 auto;
  @include mixins.flexed(column, center, center);

  @include mq(medium) {
    @include mixins.flexed(row, space-around, center);
    flex-wrap: wrap;
  }
}

.destination-card {
  margin: 3rem auto 0;
  max-width: 500px;
  &__heading {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 90%;
  }
  &__subheading {
    margin-bottom: 5rem;
  }
  &__subitem {
    padding: 1rem 5rem;
    text-align: center;
    background-color: variables.$color-accent;
    margin: 2rem;
    color: black;
  }
  &__subitem:hover,
  &__subitem:focus {
    background-color: variables.$color-primary;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in;
  }
}

.card--destination {
  @include mixins.flexed(column, center, center);
  background-color: #fff;
}
